<!DOCTYPE html>
<html lang="en">
<head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type=text/javascript src="{{url_for('static', filename='jquery.js') }}"></script>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="1">
    <link rel="stylesheet" href="{{ url_for('static', filename='Diseño.css') }}">
    <link rel="shortcut icon" href="https://s3.amazonaws.com/django-blog/ico/favicon_v2.ico">
    <title>{{name}}</title>
</head>
<body>
    <table border="2" bgcolor="green">
      <tr>
        {% for item in row %}
          <th>{{item}}</th>
        {% endfor %}
      </tr>
      {% for item in select %}
        <tr>
            {% for atributo in item.values() %}
                <th>{{atributo}}</th>
            {% endfor %}
            <th><button onclick='borrar({{item[nombreID(name)]}})' class = "button"> Borrar </button> </th>
        </tr>
      {% endfor %}
    </table>

<script>

    var global = new Object();

    function borrar(id){
        console.log(id)
        global.id = id;
        global.tabla = '{{name}}';
        console.log(global.id)
        $.ajax({
            url: "/borrar",
            traditional: "true",
            contentType: "application/json;charset=utf-8",
            type: 'POST',
            data: JSON.stringify(global),
            dataType: "json"
        })
        }

</script>

</body>
</html>