<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='Diseño.css') }}">
    <title>{{name}}</title>
</head>
<body>
    <table border="2" bgcolor="red">
      <tr>
        {% for item in row %}
          <th>{{item}}</th>
        {% endfor %}
      </tr>
      {% for item in db %}
        <tr>
            {% for atributo in item.values() %}
                <th>{{atributo}}</th>
            {% endfor %}
        </tr>
      {% endfor %}
    </table>
</body>
</html>